# Large data files (>1GB)
dashboard_v1/data/crime.csv
dashboard_v2/data/crime.csv

# macOS
.DS_Store

# IDE
.vscode/
dashboard_v1/data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
dashboard_v2/data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
dashboard_v1/data/Zip_zori_uc_sfrcondomfr_sm_month.csv
dashboard_v2/data/missing_zhvi_rows.csv
dashboard_v2/key.txt